.your__moment h1{
    display: flex;
    justify-content: center;
    font-size: 75px;
    text-decoration: underline;
    padding-top: 100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    width: auto;
}

.card__container{
    display: flex;
    column-gap:3rem;
    flex-wrap: wrap;
   row-gap: 3.5rem;
}

.card__article{
    position: relative;
    overflow: hidden;
}

.card__img{
    width: 328px;
    height: 450px;
    object-fit: cover;
    border-radius: 1.5rem;
    
}

.card__data{
    width: 280px;
    background-color: rgb(236, 241, 241);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0,0%,0%,.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 100ms 100ms ;
}

.card__description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.card__title{
   font-size: var(--h2-font-size);
   font-weight: 500;
   color: var(--title-color);
   margin-bottom: .75rem;

}

.card__button{
    text-decoration: none;
    font-size:var(--small-font-size) ;
    font-weight: 500;
    color: var(--first-color);
}

.card__button:hover{
    text-decoration: underline;
}

.card__article:hover .card__data{
    animation: show-data 400ms forwards;
    opacity: 1;
    transition: opacity 30ms;
}



.card__article:hover{
    animation:remove-overflow 200ms forwards;
}

.card__article:not(:hover){
    animation: show-overflow 200ms forwards ;
}
.card__article:not(:hover) .card__data{
    animation: remove-data 400ms forwards ;
}

@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow:initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media(max-width: 600px){
    .card__img{
        width: 300px;
        height: 400px; 
    }

    .card__container{
        column-gap:none;
        justify-content: center;
    }

    .your__moment h1{
        font-size: 36px;
        padding-top: 130px;
    }

    .container{
        width: auto;
    }
}